.subm{
    background-color: #007BFF;
    border: none;
}
/* .subm:hover {
    background-color: #007BFF;
    color: white;
  } */
.btn-user{
    background:  #FF1493;
    color: white;
    border-radius: 40%;
  }

  .btn-facebook{
    background: #191970;
    color: white;
    border-radius: 50%;
  }
  .btn-twitter{
    background: #55ACEE;
    color: white;
    border-radius: 50%;
  }
  .btn-linkedin{
    background: #4169E1;
    color: white;
    border-radius: 50%;
  }
  .btn-dribbble{
    background:#FF1493;
    color: white;
    border-radius: 50%;
  }
  .btn-mailto{
    background: grey;
    color: white;
    border-radius: 50%;
  }
  .btn-github{
    background: #3366FF;
    color: white;
    border-radius: 50%;
  }
  .fa:hover{
    color: white;
  }
  .icons:hover{
    color: white;
    transform: scale(1.25);
  }
  .profile:hover{
    color: black;
  }